# Terraform **************************************************************************
# Arquivos de estado e variáveis sensíveis
*.tfstate
*.tfstate.*
.terraform/
.terraform/** 
.terraform.lock.hcl

# Diretórios e arquivos sensíveis ou derivados
outputs/** 
credentials/** 
data/**

# Arquivos temporários de execução
crash.log
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars